[user]
    email = devonmorris1992@gmail.com
    name = Devon Morris
[push]
    default = current
[core]
    editor = nvim
    hooksPath = .githooks
[alias]
    subup = submodule update --init --recursive
    subreset = submodule foreach --recursive git reset --hard HEAD
    subclean = submodule foreach --recursive git clean -dxf
    copy-commit = ! git rev-parse HEAD | xclip -selection clipboard
    copy-commit-short = ! git rev-parse HEAD | xclip -selection clipboard
[init]
    defaultBranch = main
[rerere]
    enabled = true
[diff]
    algorithm = histogram
    colorMoved = default
    submodule = log
[status]
    submoduleSummary = true
[includeIf "gitdir:~/work/"]
path = "~/.work_dots/.gitconfig"
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
