[user]
	email = devonmorris1992@gmail.com
	name = Devon Morris
[push]
	default = simple
[core]
	editor = nvim
[alias]
	subup = submodule update --init --recursive
	subreset = submodule foreach --recursive git reset --hard HEAD
	subclean = submodule foreach --recursive git clean -dxf
    copy-commit = ! git rev-parse --short HEAD | xclip -selection clipboard
