[submodule ".sources/st-deus"]
	path = .sources/st-deus
	url = https://github.com/DevonMorris/st-deus
[submodule ".sources/dwm-deus"]
	path = .sources/dwm-deus
	url = https://github.com/DevonMorris/dwm-deus
[submodule ".config/awesome/awesome-wm-widgets"]
	path = .config/awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
[submodule ".sources/dmenu-devo"]
	path = .sources/dmenu-devo
	url = https://github.com/DevonMorris/dmenu-devo.git
