set relativenumber
set incsearch
let mapleader=" "
set clipboard+=unnamed
set clipboard+=ideaput

set scrolloff=10

nnoremap <c-t> :action ActivateTerminalToolWindow<CR>
nnoremap <leader>t :action Terminal.OpenInTerminal<CR>
nmap K <Action>(QuickJavaDoc)
nmap <leader>o <Action>(QuickJavaDoc)
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>
nnoremap <leader>cc :action CommentByLineComment<CR>
nnoremap <leader>o :action GotoFile<CR>