! Deus theme
URxvt*background: #2c323b
! soft contrast: *background: #32302f
URxvt*foreground: #ebdbb2
! Black + DarkGrey
URxvt*color0:  #000000
URxvt*color8:  #666666
! DarkRed + Red
URxvt*color1:  #d54e53
URxvt*color9:  #ec3e45
! DarkGreen + Green
URxvt*color2:  #98c379
URxvt*color10: #90c966
! DarkYellow + Yellow
URxvt*color3:  #e5c07b
URxvt*color11: #d47f21
! DarkBlue + Blue
URxvt*color4:  #4c6886
URxvt*color12: #396886
! DarkMagenta + Magenta
URxvt*color5:  #c678dd
URxvt*color13: #c858e9
! DarkCyan + Cyan
URxvt*color6:  #83a598
URxvt*color14: #70c0ba
! LightGrey + White
URxvt*color7:  #eaeaea
URxvt*color15: #eaeaea

! Deus theme
st.background: #2c323b
! soft contrast: *background: #32302f
st.foreground: #ebdbb2
! Black + DarkGrey
st.color0:  #000000
st.color8:  #666666
! DarkRed + Red
st.color1:  #d54e53
st.color9:  #ec3e45
! DarkGreen + Green
st.color2:  #98c379
st.color10: #90c966
! DarkYellow + Yellow
st.color3:  #e5c07b
st.color11: #d47f21
! DarkBlue + Blue
st.color4:  #4c6886
st.color12: #396886
! DarkMagenta + Magenta
st.color5:  #c678dd
st.color13: #c858e9
! DarkCyan + Cyan
st.color6:  #83a598
st.color14: #70c0ba
! LightGrey + White
st.color7:  #eaeaea
st.color15: #eaeaea

Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintfull

! URxvt settings

URxvt.scrollBar: false

URxvt*depth: 32
URxvt*fading: 15
URxvt*loginShell: true
URxvt*saveLines: 20000
URxvt*internalBorder: 3
URxvt*lineSpace: 0
URxvt*keysym.Shift-Control-V: eval:paste_clipboard
URxvt*keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt*iso14755: false
URxvt*iso14755_52: false
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true


URxvt*font: xft:DejaVu Sans Mono:pixelsize=12:antialias=true:hinting=true for Powerline:size=12
URxvt*boldFont: xft:DejaVu Sans Mono:bold:pixelsize=12:antialias=true:hinting=true


!-*- Perl extensions -*-
URxvt*perl-ext-common: default,selection-to-clipboard,pasta,matcher,keyboard-select,font-size
URxvt*keysym.C-equal:     font-size:increase
URxvt*keysym.C-S-equal:   font-size:incglobal
