
! Gruvbox theme
! hard contrast: *background: #1d2021
URxvt*background: #1d2021
! soft contrast: *background: #32302f
URxvt*foreground: #8a8a8a
! Black + DarkGrey
URxvt*color0:  #282828
URxvt*color8:  #928374
! DarkRed + Red
URxvt*color1:  #cc241d
URxvt*color9:  #b74536
! DarkGreen + Green
URxvt*color2:  #2a787f
URxvt*color10: #73aa4f
! DarkYellow + Yellow
URxvt*color3:  #b88c25
URxvt*color11: #d47f21
! DarkBlue + Blue
URxvt*color4:  #4c6886
URxvt*color12: #396886
! DarkMagenta + Magenta
URxvt*color5:  #ab4d4d
*color13: #957373
! DarkCyan + Cyan
URxvt*color6:  #5763ae
URxvt*color14: #8d71ae
! LightGrey + White
URxvt*color7:  #8a8a8a
URxvt*color15: #8a8a8a

Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintfull

! URxvt settings

URxvt.scrollBar: false

URxvt*depth: 32
URxvt*fading: 15
URxvt*loginShell: true
URxvt*saveLines: 20000
URxvt*internalBorder: 3
URxvt*lineSpace: 0
URxvt*keysym.Shift-Control-V: eval:paste_clipboard
URxvt*keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt*iso14755: false
URxvt*iso14755_52: false
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true


URxvt*font: xft:DejaVu Sans Mono:pixelsize=12:antialias=true:hinting=true for Powerline:size=12
URxvt*boldFont: xft:DejaVu Sans Mono:bold:pixelsize=12:antialias=true:hinting=true


!-*- Perl extensions -*-
URxvt.perl-ext-common: default,selection-to-clipboard,pasta,matcher,keyboard-select,font-size
URxvt.keysym.C-equal:     font-size:increase
URxvt.keysym.C-S-equal:   font-size:incglobal
