* {
    xbg:    #282828;
    xfg:    #d4be98;
    x0:     #32302f;
    x1:     #ea6962;
    x2:     #a9b665;
    x3:     #d8a657;
    x4:     #7daea3;
    x5:     #d3869b;
    x6:     #89b782;
    x7:     #ddc7a1;
    x8:     #f2e5bc;
    x9:     #4c3432;
    x10:    #3b4439;
    x11:    #4f422e;
    x12:    #374141;
    x13:    #975e80;
    x14:    #89b482;
    x15:    #ddc7a1;
}
